body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.6em;
  margin-bottom: 20px;
}
#navigation {
  background-color: #f8f8f8;
  float: left;
  min-height: 100%;
  min-width: 20%;
  padding: 10px 10px 10px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #6c6c6c;
}
#feedback-container {
  width: 75%;
  margin-right: 20px;
  float: right;
  min-height: 100%;
}
.feedback {
  border: 1px solid #6c6c6c;
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.feedback .domobj {
  margin-left: 35px;
  background-color: #ececec;
  padding: 8px 8px 8px 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.feedback .domhtml {
  margin-left: 70px;
  width: 70%;
  display: none;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#pagination {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.6em;
}
#pagination a {
  text-decoration: none;
}
a {
  color: #00B7FF;
}
