body 
{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a 
{
  color: #00B7FF;
}

.feedback
{
	border: 1px solid grey;
	margin-bottom: 20px;
	padding: 10px 10px 10px 10px;
	
	.domobj
	{
		margin-left: 50px;	
		background-color: grey;
		padding: 8px 8px 8px 8px;
	}
	.domhtml
	{
		margin-left: 50px;	
	}
}


