@maBlue: #6075BE;
@grey: grey;

body 
{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a 
{
  color: #00B7FF;
}

.feedback
{
	border: 1px solid grey;
	margin-bottom: 20px;
	padding: 10px 10px 10px 10px;
	background-color: lighten(@grey, 45%);
	.domobj
	{
		//margin-left: 35px;	
		background-color: saturate(@maBlue, 10%);
		padding: 8px 8px 8px 8px;
	}
	.domhtml
	{
	//	margin-left: 70px;	
	//		width: 60%;
	}
}


