!!!
html
	head
	title= title
	link(rel='stylesheet', href='/stylesheets/feedback.css')
	block scripts
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
	body
		if (session.user)
			#navigation
				h1= title
				#h1-extension >
				p#navigation_bottom
					a(href='/settings/') settings
					br
					//#user= 'logged in as ' + session.user.login
					a(href='/sessions/destroy') logout
		if (flash.warn)
			p#warn= flash.warn
		
	!= body
		
